<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Todo add</title>
    <link href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/webjars/bootstrap/3.3.7-1/css/bootstrap-theme.min.css" rel="stylesheet"/>
    <style>
        body {
            background-color: lightskyblue;
        }

        #form{
            margin-top: 300px;
            width: 300px;
            padding: 20px;
        }

    </style>
</head>
<body>
<div align="center" class="container">
<form style="background-color: lightblue" id="form" action="/login" method="post" class="form-group">
    <label for="name">USERNAME</label><br>
    <input type="text" name="loginname" id="name"><br>
    <label for="password">PASSWORD</label><br>
    <input type="text" name="loginpassword" id="password"><br><br>
    <input type="submit" class="btn btn-primary">

</form>
</div>
</body>
</html>