<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Todo add</title>
    <link href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/webjars/bootstrap/3.3.7-1/css/bootstrap-theme.min.css" rel="stylesheet"/>
    <style>
        body {
            background-color: lightblue;
        }
    </style>
</head>
<body>
<div align="middle" class="container">
<form action="/login" method="post" class="form-group">
    <label for="name">USERNAME</label><br>
    <input type="text" name="name" id="name"><br>
    <label for="password">PASSWORD</label><br>
    <input type="text" name="password" id="password"><br>
    <input type="submit" class="btn btn-primary">

</form>
</div>
</body>
</html>